<!--input form-->
<div class="input-group">
	<span class="input-group-addon" id="basic-addon3">Streams</span>
	<input type="text" class="form-control" id="streams" aria-describedby="basic-addon3" placeholder="Enter up to four streams separated by commas. 'steel_tv, esl_csgo, etc.'">
</div>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="player0"></div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
	<md-content class="md-padding">
		<md-tabs class="md-accent" md-selected="tab_index" md-align-tabs="top">
			<md-tab id="streams_tab">
				<md-tab-label>Streams</md-tab-label>
				<md-tab-body>
					<h1> this is the first tab </h1>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="player1"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="player2"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="player3"></div>

				</md-tab-body>
			</md-tab>
			<md-tab id="chat_tab">
				<md-tab-label>Chat</md-tab-label>
				<md-tab-body>

					<h1> this is the second tab </h1>
					<iframe frameborder="<frameborder width>" scrolling="false" id="chat" src="http://twitch.tv/jonwooding/chat" height="600"
					    width="300">
					</iframe>

				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
<!-- maybe do a read only chat via irc injection
<iframe frameborder="0" scrolling="no" id="chat" src="" height="600" width="600">
</iframe>-->